@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #106786, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	margin: 20px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Lobby Page */

.chat-container {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	margin: 10px auto;
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.chat-header {
	background: rgba(80, 86, 87, 0.4);
	color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
  
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;	
}

.chat-sidebar {
	background-image: linear-gradient(to bottom right, #12c2e988, #c471ed83, #f15a9991);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}